/***********************
TEXTURE LIBRARY 
************************/
/* https://myphotoshopbrushes.com/free_textures/id/3897/ 
https://myphotoshopbrushes.com/patterns/id/3975/
*/

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html { 
height: 100%;
font-family: 'Roboto', sans-serif;
background-image: url('../assets/wallpaper.png');
background-repeat: repeat;
background-size: 300px;
}

body {
/* display: flex; */
justify-content: flex-start;
align-items: center;
flex-direction: row;
height: 100%;
}

.instructions { 
  border: solid #3d251e 10px;
  height: 100%;
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-image: url('../assets/wood-9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  font-size: 0.95rem;
  float: left;
}

.instructions ol { 
  width: 89%;
  margin-right: 7%;
}

#resultsDiv { 
  display: block;
  float: left;
}

#slotsDiv { 
  margin-left: 5%;
  height: 800px;
  width: 1300px;
  background-image: url("../assets/X1.png");
  background-size: contain;
  background-repeat: no-repeat;
  float:left;
  margin-top: 3%;
}

.imageLoading {
  display: none;
}

#resultsDiv { 
  position: absolute;
  float:left;
  left: 48%;
  top: 33%;
}

#rollResult {
  font-size: 40px;
}

.promptOutput {
  font-size: 20px;
  position: absolute;
  float:left;
  top: 69.5%;
}
#TraitOutput { 
  left: 27.5%;
}

#ItemOutput { 
 left: 44%;
}

#VerbOutput { 
  left: 60.5%;
}

.greenLight { 
  position: absolute;
  float: left;
  left: 67.1%;
  border: solid #18E641 20px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

#lightOne { 
  top: 24.45%;
  display: none;
}

#lightTwo {
  top: 31%;
  left: 67%;
  display: none;
}

#lightThree {
  top: 37.65%;
  left: 67%;
  display: none;
}