/***********************
TEXTURE LIBRARY 
************************/
/* https://myphotoshopbrushes.com/free_textures/id/3897/ 
https://myphotoshopbrushes.com/patterns/id/3975/
*/

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html { 
  height: 100%;
  background-image: url(../assets/SM1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
};
